$pink: #ffb6b9;
$light-pink: #fae3d9;
$light-green: #bbded6;
$light-light-green: #dcf5ef;
$green: #61c0bf;
$card-border: rgb(214, 214, 214);
$border: rgb(170, 170, 170);
$focus: rgb(50, 50, 50);
$active: rgb(110, 110, 110);
$hover: rgb(110, 110, 110);